/* Formata o site de acordo com a tela.
Toda a página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor, alinhamento e fonte */
header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    z-index: 999px;
}

/* Logo do cabeçalho */
.img-header{
    width: 1080px 1080px;
    height: 70px;
}

/* Tamanho caixa de pesquisa */
.div-input-header{
    width: 50%;
    height: 45px;
    margin: auto 0;
}

/* Tamanho caixa de pesquisa */
.input-header{
    height: 100%;
    width: 93%;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 0.8em;
    outline: none;
}

/* Alinhar botão */
.login-botao{
    margin: auto 0;
}

/* Formata botão */
.login{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Ícone carrinho */
.mdi--cart-outline {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}

/* Bolinha amarela, muda a sombra da página */
.material-symbols--circle1 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    color: yellow;
    margin: auto 0;
}

/* Bolinha azul, muda a sombra da página */
.material-symbols--circle2 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    color: aqua;
    margin: auto 0;
}

/* Bolinha vermelha, muda a sombra da página */
.material-symbols--circle3 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    color: red;
    margin: auto 0;
}

/* Sombras das páginas */
.luz{
    box-shadow: 0 5px 20px -5px red;
}

/* Botão voltar ao topo da página */
.emojione-monotone--up-arrow {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M32 2C15.432 2 2 15.432 2 32s13.432 30 30 30s30-13.432 30-30S48.568 2 32 2m5.143 28.305V49H26.857V30.305H16L32 15l16 15.305z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: red;
    cursor: pointer;
}

/* Posição do botão voltar ao topo da página */
.inicio{
    position: fixed;
    right: 5%;
    top: 90%;
}

/* Deixa o botão da página invisível */
.invisivel{
    visibility: hidden;
    display: none;
}

/* Tirar a aparência de link */
.linha{
    text-decoration: none;
}
